In [5]:
import pandas as pd

In [9]:
df  = pd.read_pickle('data/summoners.pkl')

In [10]:
df.head()

,accountId,id,name,profileIconId,puuid,revisionDate,summonerLevel
0,b0k_yq9Xqr5Qk4Gh2kGDizfMDjGNArhufJMqUPdvOhFHvS0,F4ahwJlpRpNWjsIoiJkBhu_Vey2yLwYx3lHxsmNiBOGaCyu8,ccccllllllll,23.0,ljOO_JwbLP9HjvtEwYXG-P8BKxHudi3aAE0UGg-I74YWzf...,1.586623e+12,75.0
1,Y88pELZPw7r2WQ-4bVGiXMFi91rRXP3E0ra0Rk6IK-Njexg,Hj792Sa0EdcJEvwodZQ3iZNxJi9Ezlcr5LEq6OgVGAT3gBUz,soloitude,18.0,j9IvW6PSeQ6gxZglOC4kZsStlz5niGbjxJ31xSW0S32Ts7...,1.587138e+12,160.0
2,_F9a0MenGhDjSWqgMKe6nE50JDXTGUrGfleewAVaoPa5gcE,21wF0Qdqv3C8LMlK2mR0CNHO5vmRnofTjVF0gtvSaQUTkDlu,Starduster,4484.0,nrOlaT4zKKFx-iwghd8QP8iub_ER1QiHhNCddewf_4N1xK...,1.587067e+12,276.0
3,K5onOYmNI2YolQuyrpc2HhjYz8YLTRXpr2erIfVjydqHnWw,zZlxsgyS9Z_O37R4xI8tRfTYEoIT-4mIGa8ylQ83RFYuaYto,PRO tecting Her,4293.0,BN_P-lq7-9tXArz14KNfmAFiFVZkqTHiBpwT8SENv_FtKN...,1.587137e+12,316.0
4,tBTyuCaTBGdog5CrcgXuMV1gplTjfeXRbois7fCsenK4JV8,r9tFMY3M0eS-UYZmfEkkH3Sfj_hSxJ62ZMzknEmwlT2AWw1j,jskdfasjfjk,1392.0,Q-Y9a-WQWYfKu6StVUaFUx9bMLLKsVrsY0pOTt2t0fwo80...,1.587082e+12,131.0

In [11]:
df.columns

Index(['accountId', 'id', 'name', 'profileIconId', 'puuid', 'revisionDate',
       'summonerLevel'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48001 entries, 0 to 48000
Data columns (total 7 columns):
accountId        48001 non-null object
id               48001 non-null object
name             48001 non-null object
profileIconId    48001 non-null float64
puuid            48001 non-null object
revisionDate     48001 non-null float64
summonerLevel    48001 non-null float64
dtypes: float64(3), object(4)
memory usage: 2.6+ MB

In [16]:
df2  = pd.read_pickle('data/summoner_info.pkl')

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722759 entries, 0 to 1722758
Data columns (total 14 columns):
leagueId        object
queueType       object
tier            object
rank            object
summonerId      object
summonerName    object
leaguePoints    int64
wins            int64
losses          int64
veteran         bool
inactive        bool
freshBlood      bool
hotStreak       bool
miniSeries      object
dtypes: bool(4), int64(3), object(7)
memory usage: 138.0+ MB

In [19]:
df.head()

,accountId,id,name,profileIconId,puuid,revisionDate,summonerLevel
0,b0k_yq9Xqr5Qk4Gh2kGDizfMDjGNArhufJMqUPdvOhFHvS0,F4ahwJlpRpNWjsIoiJkBhu_Vey2yLwYx3lHxsmNiBOGaCyu8,ccccllllllll,23.0,ljOO_JwbLP9HjvtEwYXG-P8BKxHudi3aAE0UGg-I74YWzf...,1.586623e+12,75.0
1,Y88pELZPw7r2WQ-4bVGiXMFi91rRXP3E0ra0Rk6IK-Njexg,Hj792Sa0EdcJEvwodZQ3iZNxJi9Ezlcr5LEq6OgVGAT3gBUz,soloitude,18.0,j9IvW6PSeQ6gxZglOC4kZsStlz5niGbjxJ31xSW0S32Ts7...,1.587138e+12,160.0
2,_F9a0MenGhDjSWqgMKe6nE50JDXTGUrGfleewAVaoPa5gcE,21wF0Qdqv3C8LMlK2mR0CNHO5vmRnofTjVF0gtvSaQUTkDlu,Starduster,4484.0,nrOlaT4zKKFx-iwghd8QP8iub_ER1QiHhNCddewf_4N1xK...,1.587067e+12,276.0
3,K5onOYmNI2YolQuyrpc2HhjYz8YLTRXpr2erIfVjydqHnWw,zZlxsgyS9Z_O37R4xI8tRfTYEoIT-4mIGa8ylQ83RFYuaYto,PRO tecting Her,4293.0,BN_P-lq7-9tXArz14KNfmAFiFVZkqTHiBpwT8SENv_FtKN...,1.587137e+12,316.0
4,tBTyuCaTBGdog5CrcgXuMV1gplTjfeXRbois7fCsenK4JV8,r9tFMY3M0eS-UYZmfEkkH3Sfj_hSxJ62ZMzknEmwlT2AWw1j,jskdfasjfjk,1392.0,Q-Y9a-WQWYfKu6StVUaFUx9bMLLKsVrsY0pOTt2t0fwo80...,1.587082e+12,131.0

In [18]:
df2.head()

,leagueId,queueType,tier,rank,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak,miniSeries
0,13dab1d7-70a0-42e4-9672-532bdd8d8e9c,RANKED_SOLO_5x5,DIAMOND,I,F4ahwJlpRpNWjsIoiJkBhu_Vey2yLwYx3lHxsmNiBOGaCyu8,ccccllllllll,0,111,109,False,False,False,False,NaN
1,7c699201-2ae5-49ca-adba-208471db946f,RANKED_SOLO_5x5,DIAMOND,I,Hj792Sa0EdcJEvwodZQ3iZNxJi9Ezlcr5LEq6OgVGAT3gBUz,soloitude,0,97,79,False,False,False,False,NaN
2,599820a7-95ad-4500-8558-9f686f4ce619,RANKED_SOLO_5x5,DIAMOND,I,21wF0Qdqv3C8LMlK2mR0CNHO5vmRnofTjVF0gtvSaQUTkDlu,Starduster,0,152,136,False,False,False,False,NaN
3,0f8a41a3-dffb-4457-ba1a-d370da708d6d,RANKED_SOLO_5x5,DIAMOND,I,zZlxsgyS9Z_O37R4xI8tRfTYEoIT-4mIGa8ylQ83RFYuaYto,PRO tecting Her,26,62,46,False,False,False,False,NaN
4,9c27527f-595b-477b-b455-154dd3478b1d,RANKED_SOLO_5x5,DIAMOND,I,r9tFMY3M0eS-UYZmfEkkH3Sfj_hSxJ62ZMzknEmwlT2AWw1j,jskdfasjfjk,21,86,82,False,False,False,False,NaN

In [32]:
[[len(str(i)) for i in df.iloc[0]] for j in df.iloc[]

[47, 48, 12, 4, 78, 15, 4]

In [61]:
[{col: df[col].str.len().max()} for col in df.drop(columns=['profileIconId', 'revisionDate', 'summonerLevel']).columns]

[{'accountId': 56}, {'id': 48}, {'name': 16}, {'puuid': 78}]

In [62]:
[{col: df[col].str.len().min()} for col in df.drop(columns=['profileIconId', 'revisionDate', 'summonerLevel']).columns]

[{'accountId': 40}, {'id': 40}, {'name': 3}, {'puuid': 78}]

In [63]:
[{col: df[col].str.len().mean()} for col in df.drop(columns=['profileIconId', 'revisionDate', 'summonerLevel']).columns]

[{'accountId': 48.35234682610779},
 {'id': 47.229953542634526},
 {'name': 9.74367200683319},
 {'puuid': 78.0}]

In [64]:
[{col: df[col].str.len().mode()} for col in df.drop(columns=['profileIconId', 'revisionDate', 'summonerLevel']).columns]

[{'accountId': 0    46
  dtype: int64}, {'id': 0    47
  dtype: int64}, {'name': 0    7
  dtype: int64}, {'puuid': 0    78
  dtype: int64}]

In [53]:
df.drop(columns=['profileIconId', 'revisionDate', 'summonerLevel']).mean()

KeyboardInterrupt:

In [40]:
df['revisionDate'][0]

1586622597000.0

In [ ]:
'''
create table summoners
(
id serial not null,
leagueId
)
'''